<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Over Speed Report' | translate}}</ion-title>
  </ion-navbar>
  <ion-item style="background-color: #fafafa;">
    <ion-label style="margin-top: 15px;">{{'Select Vehicle' | translate}}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name" itemTextField="Device_Name"
      [canSearch]="true" (onChange)="getOverspeeddevice(selectedVehicle)">
    </select-searchable>
  </ion-item>


  <ion-row style="background-color: #fafafa;" padding-left padding-right>
    <ion-col width-20>

      <ion-label>
        <span style="font-size: 13px">{{'From Date' | translate}}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeStart" (ionChange)="change(datetimeStart)"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;"></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{'To Date' | translate}}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd" (ionChange)="change1(datetimeEnd)"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;"></ion-datetime>
      </ion-label>
    </ion-col>
    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getOverSpeedReport(datetimeStart,datetimeEnd);"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-card *ngFor="let overdata of overspeedReport; let i=index">
    <ion-item style="border-bottom: 2px solid #dedede;">
      <ion-avatar item-start>
        <img src="assets/imgs/car_red_icon.png">
      </ion-avatar>
      <ion-row>
        <ion-col col-8>
          <p style="color:gray;font-size:13px;">{{overdata.vehicleName}}</p>
        </ion-col>
        <ion-col col-4>
          <p>
            <ion-icon ios="ios-speedometer" md="md-speedometer" style="color:#e14444;"></ion-icon>&nbsp;
            <span style="font-size:12px;">{{overdata.overSpeed}}&nbsp;</span>
          </p>
        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 13px;">
        <ion-col (onCreate)="start_address(overdata, i)"  style="font-size: 0.8em;">
          <div class="overme">
            {{ overdata.StartLocation }}
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>
</ion-content>
